extends  ../_skeleton

block variables
  - var activeIndex = 4

block title
  title Links

block page
  // Page Header
  include ../sections/_header-default

  // Page Content
  main.page-content
    section.section-lg-bottom-122.section-bottom-65.section-top-34.section-md-top-0
      .shell.shell-wide
        .page-counter.page-counter-bottom-5
          img(src="images/links-01.png"  alt="").img-responsive.center-block
        .range.range-xs-center.offset-top-0.offset-md-top-26
          .cell-xl-10
            h4 Useful Links
            .range.offset-top-34
              .cell-sm-6.cell-md-3
                ul.list-marked
                  li
                    a(href='#') Dealing With Kitten Enquiries
                  li
                    a(href='#') Finding a Good Cat Breeder
                  li
                    a(href='#') Top Ten Questions

              .cell-sm-6.cell-md-3.offset-top-26.offset-sm-top-0
                ul.list-marked
                  li
                    a(href='#') Keeping Cats Safe campaign
                  li
                    a(href='#') Cat Care How To Guides
                  li
                    a(href='#') Cat Care Videos

              .cell-sm-6.cell-md-3.offset-top-26.offset-md-top-0
                ul.list-marked
                  li
                    a(href='#') How to Tell What Sex a Kitten Is
                  li
                    a(href='#') How to Keep Cats off the Garden
                  li
                    a(href='#') How to Stop Your Cat from Hunting

              .cell-sm-6.cell-md-3.offset-top-26.offset-md-top-0
                ul.list-marked
                  li
                    a(href='#') How to Groom Your Cat
                  li
                    a(href='#') How to Trim Your Cat's Claws
                  li
                    a(href='#') How to Clean Your Cat's Eyes
    section.section-title.section-title-left(data-title='useful info')
      .shell.shell-wide.section-92.section-lg-bottom-148.bg-img-03
        hr.divider
        h4 Most Popular Breeds
        .range.offset-top-34.text-md-left
          .cell-lg-6.cell-lg-preffix-4
            p We currently recognize 41 pedigreed breeds for showing in the Championship Class. To learn more about any of our breeds, click on the links below...
            .range.offset-top-20
              .cell-sm-6.cell-md-4
                ul.list-marked
                  li
                    a(href='#') Abyssinian
                  li
                    a(href='#') American Bobtail
                  li
                    a(href='#') American Curl
                  li
                    a(href='#') American Shorthair
                  li
                    a(href='#') American Wirehair
                  li
                    a(href='#') Balinese
                  li
                    a(href='#') Bengal
                  li
                    a(href='#') Birman
              .cell-sm-6.cell-md-4.offset-top-34.offset-sm-top-0
                ul.list-marked
                  li
                    a(href='#') Bombay
                  li
                    a(href='#') British Shorthair
                  li
                    a(href='#') Burmese
                  li
                    a(href='#') Burmilla
                  li
                    a(href='#') Chartreux
                  li
                    a(href='#') Colorpoint Shorthair
                  li
                    a(href='#') Cornish Rex
                  li
                    a(href='#') Devon Rex
              .cell-sm-6.cell-md-4.offset-top-34.offset-md-top-0
                ul.list-marked
                  li
                    a(href='#') Egyptian Mau
                  li
                    a(href='#') European Burmese
                  li
                    a(href='#') Exotic
                  li
                    a(href='#') Havana Brown
                  li
                    a(href='#') Japanese Bobtail
                  li
                    a(href='#') Korat
                  li
                    a(href='#') LaPerm
                  li
                    a(href='#') Maine Coon

    section
      .shell.shell-wide.section-92.section-lg-122
        // Owl Carousel
        .owl-carousel.owl-dots-modile(data-dots='true' data-items='1',data-sm-items='2',data-md-items='3', data-margin='30', data-lg-margin='84', data-mouse-drag="false")
          .thumbnail
            .caption.caption-static.caption-top
              h4
                a(href='#').text-dark Clubs and organisations
              p.text-graylight.small.text-bold.text-uppercase Delivery possible
            img(src="images/links-03.jpg" alt="").img-responsive
            .caption.caption-bottom
              a(href='#').caption-link.btn.btn-default read more

          .thumbnail
            .caption.caption-static.caption-top
              h4
                a(href='#').text-dark Shegren Sphynx Cats
              p.text-graylight.small.text-bold.text-uppercase Delivery possible
            img(src="images/links-04.jpg" alt="").img-responsive
            .caption.caption-bottom
              a(href='#').caption-link.btn.btn-default read more

          .thumbnail
            .caption.caption-static.caption-top
              h4
                a(href='#').text-dark Luna Siberian Cats
              p.text-graylight.small.text-bold.text-uppercase Delivery possible
            img(src="images/links-05.jpg" alt="").img-responsive
            .caption.caption-bottom
              a(href='#').caption-link.btn.btn-default read more

    section.section-bottom-80.section-title.section-title-right.section-title-right-3(data-title='links')
      .shell.shell-wide
        .page-counter.page-counter-bottom-7.page-counter-sisal
          img(src="images/links-06.png" alt="").img-responsive.center-block
        hr.divider.offset-lg-top-20
        h5 Cat Care
        .range.text-md-left.offset-top-54
          .cell-md-preffix-1.cell-xl-9.cell-md-10
            .range
              .cell-md-4.cell-sm-6
                ul.list-marked
                  li
                    a(href='#') Flea Products
                  li
                    a(href='#') Household Hazards - Antifreeze
                  li
                    a(href='#') Disaster Preparedness
                  li
                    a(href='#') Household Hazards - Holiday Hazards
                  li
                    a(href='#') Disaster Planning Tips
                  li
                    a(href='#') Household Hazards - Lily Dangers
              .cell-md-4.cell-sm-6.offset-top-40.offset-sm-top-0
                ul.list-marked
                  li
                    a(href='#') Myths And Facts About Cats
                  li
                    a(href='#') Household Hazards - Poison Safety
                  li
                    a(href='#') General Cat Care FAQs
                  li
                    a(href='#') Household Hazards - Potpourri
                  li
                    a(href='#') Caring For Cats
                  li
                    a(href='#') Household Hazards - Toxic Plants
              .cell-md-4.cell-sm-6.offset-top-40.offset-md-top-0
                ul.list-marked
                  li
                    a(href='#') Microchipping
                  li
                    a(href='#') Household Hazards - Winter Hazards
                  li
                    a(href='#') Litter Box Problems
                  li
                    a(href='#') Safer Indoors
                  li
                    a(href='#') Pet Number Limit Laws
                  li
                    a(href='#') Pet Taxes
    .shell.shell-wide.inset-left-0.inset-right-0
      hr.divider-full


  // Page Footer
  include ../sections/_footer-default
