footer.page-footer
  div.container
      span &#169;
      =" "
      span(id="copyright-year")
      hr.divider.divider-default.divider-vertical
      a(href="privacy.html") Privacy policy
      | . Design&nbsp;by&nbsp;#[a(href="https://zemez.io/") Zemez]
