extends  ../_skeleton

//- Includes
include  ../elements/_ui-google-map

//-Title
block title
  title= cfg.nav.contacts.title

//- Page
block page

  // Page Head
  header.page-head.slider-menu-position
    //- RD Navbar
    +rd-navbar-floated(
    'rd-navbar-dark',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.contacts,
    cfg.nav
    )
    .context-dark
      +breadcrumb-modern("Contact Us", {
        0: {
          "type": "link",
          "title": cfg.nav.home.title,
          "href": cfg.nav.home.href
        },
        1: {
          "type": "link",
          "title": cfg.nav.contacts.title,
          "href": cfg.nav.contacts.href
        }
      }, "images/background-04-1920x750.jpg")


  // Page Contents
  main.page-content
    section.section-top-98.section-lg-top-110.text-xl-left
      .container
        .row.justify-content-sm-center.justify-content-sm-center
          .col-xl-4
            .inset-xl-right-80
              h3.font-weight-bold How to Find us
              hr.divider.hr-lg-left-0.bg-red
              p.offset-top-41.offset-xl-top-50 We are located in the city center and is easy to reach with any kind of public transport. Use our map to find the nearest gym.
              address.contact-info.offset-top-30.offset-xl-top-50
                .h6.text-uppercase.font-weight-bold.text-danger.letter-space-none.offset-top-none Intense Office 1
                p 9863 - 9867 MILL ROAD, CAMBRIDGE, MG09 99HT.
                dl.offset-top-0
                  dt Telephone
                  dd
                    a(href='tel:#') +1 800 603 6035
                dl
                  dt E-mail:
                  dd
                    a(href='mailto:#') mail@demolink.org
              address.contact-info.offset-top-30.offset-xl-top-50
                .h6.text-uppercase.font-weight-bold.text-danger.letter-space-none Intense Office 2
                p 9870 ST VINCENT PLACE, GLASGOW, DC 45 FR 45.
                dl.offset-top-0
                  dt Telephone
                  dd
                    a(href='tel:#') +1 800 559 6580
                dl
                  dt E-mail:
                  dd
                    a(href='mailto:#') mail@demolink.org
          .col-md-8.offset-top-66.offset-xl-top-0
            h3.font-weight-bold Get in touch
            hr.divider.hr-lg-left-0.bg-red
            // RD Mailform
            form.rd-mailform.text-left.offset-top-50(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
              .row
                .col-xl-6
                  .form-group
                    label.form-label.form-label-outside(for="contact-us-name") Name:
                    input#contact-us-name.form-control(type="text" name="name" data-constraints="@Required")
                .col-xl-6.offset-top-20.offset-xl-top-0
                  .form-group
                    label.form-label.form-label-outside(for="contact-us-email") E-Mail:
                    input#contact-us-email.form-control(type="email" name="email" data-constraints="@Required @Email")
                .col-xl-12.offset-top-20
                  .form-group
                    label.form-label.form-label-outside(for="contact-us-message") Message:
                    textarea#contact-us-message.form-control(name="message" data-constraints="@Required")
              .group-sm.text-center.text-xl-left.offset-top-30
                button(type="submit").btn.btn-danger Send
                button(type="reset").btn.btn-default Reset

      .offset-top-98.offset-xl-top-124
        +google-map({
          center: '9870 St Vincent Place, Glasgow, DC 45 Fr 45.'
        }, [{
          location: '9870 St Vincent Place, Glasgow, DC 45 Fr 45.',
          description: '9870 St Vincent Place, Glasgow'
        }])

  // Page Footer
  include ../sections/_section-footer
