-
	var
		brandName = 'Infinity',
		logoDefault = 'logo-default-130x67',
		logoInverse = 'logo-inverse-130x67',
		postLink = 'blog-page.html',
		getTemplateLink = '#',
		tryBuilderLink = '#',
		viewDemosAnchor = 'section-start-demo',
		layoutPanel = false,
		menu = []
