include ../elements/_ui-material-parallax

// Jessica Bennett
+material-parallax({ img: 'images/image-01-1920x250.jpg' })
  .container.section-85
    a(href=cfg.nav.home.href)
      img.img-fluid.mx-auto.d-block(src="images/brand.png" width="984" height="91" alt="")