// single project
section.section-41.section-xl-110
  .container-fluid
    .row.justify-content-sm-center
      .col-sm-9.col-xxl-9.order-xxl-2
        // Swiper
        .swiper-container.swiper-2.swiper-slider(data-height='67%', data-min-height='400px', data-dots="true")
          .swiper-wrapper
            .swiper-slide.swiper-slide-overlay-disable(data-slide-bg='images/image-08-1387x925.jpg')
            .swiper-slide.swiper-slide-overlay-disable(data-slide-bg='images/image-09-1387x925.jpg')
            .swiper-slide.swiper-slide-overlay-disable(data-slide-bg='images/image-21-1387x925.jpg')
          // Swiper Pagination
          .swiper-pagination.swiper-pagination-type-1
      .col-xxl-3.col-sm-9.inset-xxl-left-80.text-left.order-xxl-1.offset-top-66.offset-xxl-top-0
        .row
          .col-md-6.col-xxl-12
            time(datetime="2018-01-01")
              span.icon.icon-xxs.fa.fa-calendar.text-middle(style="font-size:18px")
              = " "
              span.text-middle February 28, 2018
            h4.text-dark.font-default.offset-top-50 About Project
            p My projects differ in a variety of aspects from works of other photographers. On my website you will not find any ordinary photos and shots that can be characterized as dull and boring. In this project I tried to underline the emotional meaning of love and long-lasting relationship. This project features professional models portraying an initial idea of love and passion in these photos.
          .col-md-6.col-xxl-12.offset-top-50.offset-md-top-0.offset-xxl-top-66
            h4.text-dark.font-default Information
            ul.list.list-marked
              li Canon EOS 5D Mark III
              li Canon EF135mm f/2L USM
              li f/8.0
              li 135.0 mm
              li 1/4000
              li ISO 600
