extends  ../_skeleton

//- Includes
include  ../elements/_ui-material-parallax
include ../elements/_ui-testimonials-type-2
//-Title
block title
  title= cfg.nav.reviews.title

//- Page
block page

  // Page Head
  header.section.page-head
    //- RD Navbar
    +rd-navbar-top-panel(
    'rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    cfg.nav.reviews,
    cfg.nav
    )


  // Breadcrumbs
  +material-parallax({
    img: 'images/bg-01-1920x718.jpg',
    Class: 'section-34 section-md-66 text-lg-left context-dark bg-overlay-info'
  }).section
    .container
      div.d-none.d-md-block.d-lg-inline-block
        h1.font-weight-bold
          span.big Reviews
      div.pull-lg-right.offset-md-top-10.offset-lg-top-41
        ul.p.list-inline.list-inline-dashed
          li.list-inline-item.text-safety-orange
            a(href= cfg.nav.home.href) Home
          li.list-inline-item Reviews

  // Reviews
  section.section.novi-background.section-98.section-lg-124
    .container
      h1.font-weight-bold.text-primary Parent Reviews
      +svg-divider("bg-primary", "71", "13")
      .row.justify-content-sm-center.offset-top-50
        .col-sm-10.col-md-8
          p On this page, you can read current reviews of parents who chose our center for education of their children or submit your own testimonial. If you would like to share your opinion about our services with us, contact us using the form on our website. Our administrators will publish your review on this page in the shortest possible term.
      .row.justify-content-sm-center.offset-top-66
        .col-sm-10.col-md-7.col-lg-4
          +testimonials-type-2(
          {
            "width": 80,
            "height": 80,
            "src": "images/user-alex-ross-80x80.jpg",
            "alt": ""
          },
          "",
          "",
          "I love the great relationships my kids have made with your teachers and other kids. Your services are worth a medal!"
          )
        .col-sm-10.col-md-7.col-lg-4.offset-top-50.offset-lg-top-0
          +testimonials-type-2(
          {
            "width": 80,
            "height": 80,
            "src": "images/user-alisa-milano-80x80.jpg",
            "alt": ""
          },
          "",
          "",
          "My son was very shy and avoided active communication with other kids, but you helped him to adapt quickly, thank you!"
          )
        .col-sm-10.col-md-7.col-lg-4.offset-top-50.offset-lg-top-0
          +testimonials-type-2(
          {
            "width": 80,
            "height": 80,
            "src": "images/user-john-more-80x80.jpg",
            "alt": ""
          },
          "",
          "",
          "Your childcare services are just what I was looking for! Your teachers are qualified, and I will definitely recommend you to my friends."
          )
        .col-sm-10.col-md-7.col-lg-4.offset-top-50
          +testimonials-type-2(
          {
            "width": 80,
            "height": 80,
            "src": "images/user-alisa-maskerano-80x80.jpg",
            "alt": ""
          },
          "",
          "",
          "I am amazed at the number of additional activities you offer. I am now sure that my son can be cared for in a friendly atmosphere."
          )

        .col-sm-10.col-md-7.col-lg-4.offset-top-50
          +testimonials-type-2(
          {
            "width": 80,
            "height": 80,
            "src": "images/user-john-doe-80x80.jpg",
            "alt": ""
          },
          "",
          "",
          "My younger brother is very emotional, and your center became a place where he can feel comfortable and communicate with his peers."
          )
        .col-sm-10.col-md-7.col-lg-4.offset-top-50
          +testimonials-type-2(
          {
            "width": 80,
            "height": 80,
            "src": "images/user-july-mao-80x80.jpg",
            "alt": ""
          },
          "",
          "",
          "I am so happy that you helped my children prepare for their first school year and find new friends and hobbies. Thanks a lot!"
          )

  // First Lesson - Free
  +material-parallax({
    img: 'images/bg-02-1920x748.jpg',
    Class: 'section-66 context-dark'
  }).section
    .container
      h1.font-weight-bold Submit your review
      .row.justify-content-sm-center.offset-top-20
        .col-sm-10.col-sm-8
          div
            p We will be glad to hear what you think about our center. E-mail us and share your opinion on our services.
          .offset-top-30
            a(href=cfg.nav.contacts.href).btn.btn-icon.btn-icon-left.btn-default
              span.novi-icon.icon.mdi-email-outline.mdi
              span Send us a letter

  // Page Footer
  include ../sections/_section-footer-default


