//
// Custom typography
// --------------------------------------------------

// Page header
// -------------------------

.page-header {
  padding-bottom: 14px;
}

// Fonts
// -------------------------

.font-default {
  font-family: $font-family-base;
}

.font-accent {
  font-family: $font-family-accent;
}

// Basic Typography
// -------------------------

h1,
.h1 {
  margin-top: 26px;
  margin-bottom: 21px;
  font-size: 36px;
  line-height: 1.5;

  @include media-breakpoint-up(md) {
    line-height: $h1-line-height;
    font-size: $h1-font-size;
  }
}

h2,
.h2 {
  margin-top: 42px;
  margin-bottom: 23px;
  font-size: 32px;
  line-height: 1.5;

  @include media-breakpoint-up(md) {
    line-height: $h2-line-height;
    font-size: $h2-font-size;
  }
}

h3,
.h3 {
  margin-top: 27px;
  margin-bottom: 18px;
  font-size: 28px;
  line-height: 1.5;

  @include media-breakpoint-up(md) {
    line-height: $h3-line-height;
    font-size: $h3-font-size;
  }
}

h4,
.h4 {
  margin-top: 22px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5;

  * + .icon,
  .icon + * {
    padding-left: 8px;
  }

  @include media-breakpoint-up(md) {
    line-height: $h4-line-height;
    font-size: $h4-font-size;
  }
}

h5,
.h5 {
  margin-top: 29px;
  margin-bottom: 19px;
  font-size: 20px;
  line-height: 1.5;

  @include media-breakpoint-up(md) {
    line-height: $h5-line-height;
    font-size: $h5-font-size;
  }
}

h6,
.h6 {
  margin-top: 29px;
  margin-bottom: 18px;
  font-size: 17px;
  line-height: 1.5;
  font-weight: 400;
  color: $gray-700;
  * + .icon,
  .icon + * {
    padding-left: 8px;
  }

  @include media-breakpoint-up(md) {
    line-height: $h6-line-height;
    font-size: $h6-font-size;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  a {
    transition: .3s all ease;
  }

  a:hover {
    color: $primary;
  }
}

p,
.p,
.list {
  margin-top: 18px;
  margin-bottom: 18px;

  a:hover {
    text-decoration: underline;
  }
}

@include media-breakpoint-up(sm) {
  .big {
    font-size: 112.25%;
    line-height: 1.5;

    h1 &,
    .h1 & {
      font-size: 142.22%;
      line-height: 1.125;
    }

    h2 &,
    .h2 & {
      font-size: 147.36%;
      line-height: 1.142857142857143;
    }
  }
}

blockquote small,
blockquote .small,
small,
.small {
  font-size: 93.75%;

  &:before {
    display: none;
  }

  h1 &,
  .h1 & {
    font-size: 75%;
  }

  h2 &,
  .h2 & {
    font-size: 63.15789473684211%;
  }

  h3 &,
  .h3 & {
    font-size: 73.33333333333333%;
  }

  h4 &,
  .h4 & {
    font-size: 75%;
  }

  h5 &,
  .h5 & {
    font-size: 72.72727272727273%;
  }

  h6 &,
  .h6 & {
    font-size: 94.11764705882353%;
  }
}

sub {
  bottom: -0.5em;
}

sub, sup {
  font-size: 62%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

code, kbd, pre, samp {
  font-family: Consolas, "Courier New", monospace;
}

code {
  padding: 5px 7px;
  font-size: 75%;
  color: #E50A0A;
  background-color: $gray-100;
  border-radius: 2px;
}

pre {
  padding: 16px 19px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.13;
  overflow-x: auto;

  code {
    font-size: 75%;
    text-align: left;
  }
}

mark, .mark {
  background-color: #ABCC37;
  padding: .1em;
}

.text-extra-small {
  font-size: 13px;
}

.text-extra-big {
  font-size: 100px;
  line-height: .7;

  @include media-breakpoint-up(md) {
    font-size: 140px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 180px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 220px
  }
}

// Lists
// -------------------------

.list {
  > li + li {
    margin-top: 30px;
  }
}

.list-numbered {
  padding-left: 15px;
  li {
    padding-left: 10px;
  }
}

// List inline
//
.list-inline {
  margin-left: -8px;
  margin-right: -8px;

  > li {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.list-inline-sm {
  margin-left: -10px;
  margin-right: -10px;

  > li {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.list-inline-md {
  margin-left: -12px;
  margin-right: -12px;

  > li {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.list-inline-primary {
  > li > a {
    transition: .3s;
    &:hover {
      color: $primary;
    }
  }
}

.list-inline-white {
  > li > a {
    transition: .3s;
    &:hover {
      color: $white;
    }
  }
}

.list-inline-dashed {
  > li {
    padding-right: 0;
    & + li {
      &:before {
        content: '/';
        padding-right: 5px;
      }
    }
  }
}


// List marked
//

.list-marked {
  text-align: left;
  @include list-unstyled;
  li {
    padding-left: 25px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 2px;
      top: 13px;
      transform: translateY(-50%);
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $gray-800;
    }
  }
}

// List index
//
.list-index {
  @include list-unstyled;
  counter-reset: li;
  li {
    .list-index-counter {
      &:before {
        content: counter(li, decimal-leading-zero);
        counter-increment: li;
      }
    }
  }
}

// List separeted
//
.list-separated {
  li + li {
    border-top: 1px solid $gray-200;
    margin-top: 9px;
    padding-top: 8px;
  }
}
.list-separated-1 {
  li + li {
    border-top: 1px solid $gray-200;
    margin-top: 12px;
    padding-top: 13px;
  }
}

// Backgrounds
// -------------------------

.bg-fixed {
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

// Contextual backgrounds
//
.bg-gray-base {
  @include bg-variant-custom(#{$black});
}

.bg-white {
  @include bg-variant-custom(#{$white});
}

.bg-gray-lighter {
  @include bg-variant-custom(#{$gray-200});
}
.bg-shark{
  @include bg-variant-custom(#{#464648});
}

// Gradient background
//

//.bg-macaroni {
//  @include bg-variant-custom(linear-gradient(90deg, $primary 0%, $macaroni 100%));
//}


// Colors
// -------------------------

// Contextual colors
//

.page {
  @include text-emphasis-variant('.text-primary', $primary);
  @include text-emphasis-variant('.text-darker', $gray-800);
  @include text-emphasis-variant('.text-darkest', $gray-900);
  @include text-emphasis-variant('.text-dark', $gray-700);
  @include text-emphasis-variant('.text-danger', #e50a0a);
  @include text-emphasis-variant('.text-success', #84c450);
  @include text-emphasis-variant('.text-shark', #49494b);

}

// Shadows
// -------------------------

.shadow-drop-ambient {
  box-shadow: $shadow-area-ambient;
}

.shadow-drop-xxs {
  box-shadow: $shadow-area-xxs;
}

.shadow-drop-xs {
  box-shadow: $shadow-area-xs;
}

.shadow-drop-sm {
  box-shadow: $shadow-area-sm;
}

.shadow-drop,
.shadow-drop-md {
  box-shadow: $shadow-area-md;
}

.shadow-drop-lg {
  box-shadow: $shadow-area-lg;
}

.shadow-drop-xl {
  box-shadow: $shadow-area-xl;
}

.shadow-variant-2 {
  box-shadow: $shadow-area-variant-2;
}

// Borders
// -------------------------

.border-gray-light {
  border-color: $gray-300;
}

.border-gainsboro {
  border-color: $gray-500;
}

// Address
// -------------------------

.contact-info {
  p {
    font-size: 15px;
    margin-bottom: 0;
  }

  dl {
    margin-bottom: 0;

    dt, dd {
      display: inline-block;
      font-weight: 400;
      font-size: 15px;
    }

    dt, dd a {
      color: $gray-800;
    }

    dd a:hover {
      color: $primary;
    }
  }
}