//- imgLink - link of author img
//- img - set path to image
//- title - title of Member Block
//- desc - description of Member Block
mixin member-block-type-2(imgLink, img, title, desc)
  // Member Block Type-2
  .mx-auto.d-block
    img.rounded-circle(src= img alt="")
  h4.font-weight-bold!= title
  p= desc