// Swiper
section.section
  .swiper-bg-wrap.swiper-style-2
    .swiper-container.swiper-slider.swiper-bg.swiper-height-1(data-autoplay='6500' data-direction='vertical')
      .swiper-wrapper
        .swiper-slide(data-slide-bg='images/slide-7.jpg')
          .swiper-slide-caption
            .jumbotron-custom.jumbotron-custom-variant-1.context-dark
              hr.divider-sm.divider-success(data-caption-animate='fxRotateInLeft' data-caption-delay='50')
              h1(data-caption-animate='fxRotateInRight', data-caption-delay='150') Create Your Website
              p.subtitle-variant-3(data-caption-animate='fxRotateInLeft', data-caption-delay='350') With Arctic powerful multipurpose template
              a.btn.btn-square.btn-white-outline.btn-lg.btn-aqil.btn-aqil--mod-1(data-caption-animate='fxRotateInRight', data-caption-delay='550' href=getTemplateLink): span Buy this template

        .swiper-slide(data-slide-bg='images/slide-8.jpg')
          .swiper-slide-caption
            .jumbotron-custom.jumbotron-custom-variant-1.context-dark
              hr.divider-sm.divider-success(data-caption-animate='fxRotateInLeft' data-caption-delay='50')
              h1(data-caption-animate='fxRotateInRight', data-caption-delay='150') A Variety of Layouts
              p.subtitle-variant-3(data-caption-animate='fxRotateInLeft', data-caption-delay='350') you can use any layout to customize your website
              a.btn.btn-square.btn-white-outline.btn-lg.btn-aqil.btn-aqil--mod-1(data-caption-animate='fxRotateInRight', data-caption-delay='550' href=getTemplateLink): span Buy this template

        .swiper-slide(data-slide-bg='images/slide-9.jpg')
          .swiper-slide-caption
            .jumbotron-custom.jumbotron-custom-variant-1.context-dark
              hr.divider-sm.divider-success(data-caption-animate='fxRotateInLeft' data-caption-delay='50')
              h1(data-caption-animate='fxRotateInRight', data-caption-delay='150') Fully Responsive Template
              p.subtitle-variant-3(data-caption-animate='fxRotateInLeft', data-caption-delay='350') with lots of improvements and new features
              a.btn.btn-square.btn-white-outline.btn-lg.btn-aqil.btn-aqil--mod-1(data-caption-animate='fxRotateInRight', data-caption-delay='550' href=getTemplateLink): span Buy this template

      .swiper-pagination

='\n'
