
//Swiper
.swiper-container.swiper-slider#benefit(data-loop="false" data-height="100vh" data-dragable="false" data-min-height="480px")
	.swiper-wrapper.text-center
		#page-loader.swiper-slide.section-98.bg-custom-gradient.section-decorate.section-decorate-reverse(data-slide-bg='')
			.section-decorate-left.wow.slideInLeft
				img(src="images/section-decorate-left-reverse.png",  alt="")
			.section-decorate-right.wow.slideInRight
				img(src="images/section-decorate-right-reverse.png",  alt="")
			.section-decorate-title.wow.fadeIn(data-wow-delay='2s')
				p sale
			.parallax-scene.parallax-scene-js(data-scalar-x="5" data-scalar-y="10")
				.layer-1
					.layer(data-depth="0.25")
						img(src="images/parallax-img1.png",  alt="")
				.layer-2
					.layer(data-depth="0.25")
						img(src="images/parallax-img2.png",  alt="")
			.swiper-caption.swiper-parallax
				.swiper-slide-caption
					.container
						.row.justify-content-xl-center
							.col-xl-12
								
								h5.wow.fadeInUp(data-wow-delay='.8s')
									span.big.text-uppercase save up to 80% 
							.col-xl-10.offset-top-20
								
								h2.wow.fadeInUp(data-wow-delay='1.3s')
									| black friday
									br
									span.d-block.offset-top-10 only 4 days
								