-
	var
		brandName = 'Favorite',
		logoDefault = 'logo-default-140x59',
		logoInverse = 'logo-inverse-140x59',
		postLink = 'blog-page.html',
		getTemplateLink = '#',
		tryBuilderLink = '#',
		viewDemosAnchor = 'section-start-demo',
		layoutPanel = false,
		menu = []
