include ../elements/_ui-material-parallax

//- title - page title
//- breacrumbs - an array of {link} object
//- url - address of bg-parallax img
mixin breadcrumb-modern(title, breadcrumbs, url)
  // Modern Breadcrumbs
  section
    +material-parallax({ img: url }).breadcrumb-modern.bg-gray-darkest.context-dark
      .bg-overlay-gray-darkest
        .container.section-34.section-md-50.section-lg-110
          .text-extra-big.font-accent.d-none.d-lg-block
            span.big= title
          ul.list-inline.list-inline-dashed.p.offset-top-0
            each link, index in breadcrumbs
              if breadcrumbs[parseInt(index) + 1]
                li.list-inline-item
                  a.small(href=link.href)= link.title
              else
                li.list-inline-item
                  = link.title
          block
