//
// Offsets
// --------------------------------------------------


// Insets
// -------------------------

$insets: (0, 10px, 15px, 30px, 70px, 100px, 130px);

html .page{
  @include indent-responsive(inset, left, padding-left, $grid-breakpoints, $insets);
  @include indent-responsive(inset, right, padding-right, $grid-breakpoints, $insets);
}

// Responsive
// -------------------------

$offsets: (-35px, -130px, 0, 7px, 10px, 15px, 20px, 28px, 30px, 35px, 38px, 40px, 45px, 50px, 60px, 75px, 90px, 165px);

html .page{
  @include indent-responsive(offset, top, margin-top, $grid-breakpoints, $offsets);
}

html .page{
  @include indent-responsive(offset-m, left, margin-left, $grid-breakpoints, $offsets);
  @include indent-responsive(offset-m, right, margin-right, $grid-breakpoints, $offsets);
}
