//
// Box Pricing
// --------------------------------------------------

.box-pricing {
  min-width: 270px;
  display: block;

  * {
    color: $brand-silver-chalice;
  }

  &-header, &-body, &-footer {
    padding: 20px;
  }

  &-header, &-body {
    transition: .3s all ease;
  }

  // Box Pricing Header
  &-header {
    padding-bottom: 25px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    background: $gray-lighter;
    border-bottom: 1px solid $gray-lighter;

    h5 {
      text-transform: capitalize;
    }

    &, h5 {
      color: $brand-primary;
    }
  }

  // Box Pricing Body
  &-body {
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    white-space: nowrap;
    background: $white;

    &:before {
      content: '';
      position: absolute;
      top: 100px;
      left: 0;
      width: 100%;
      height: 1px;
      background: $gray-lighter;
    }

    .bg-gray-lighter, &:before {
      transition: .3s all ease;
    }
  }

  // Box Pricing Footer
  &-footer {
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;

    &, .btn-pricing {
      color: $white;
      background: $brand-calypso;
    }

    .btn-pricing {
      transition: .3s all ease;
    }
  }

  @media (min-width: $screen-lg-min) {
    &:hover {
      .box-pricing-header, .box-pricing-body {
        background: $brand-calypso;

        *, .text-mine-shaft {
          color: $white;
        }
      }

      .box-pricing-header {
        border-bottom-color: $white;
      }

      .box-pricing-body {
        .bg-gray-lighter, &:before {
          background: $white;
        }
      }

      .box-pricing-footer {
        .btn-pricing {
          color: $brand-primary;
          background: $white;
        }
      }
    }
  }
}