//
// Media Objects custom
// --------------------------------------------------

.media-right,
.media > .pull-right {
  padding-left: 10px;
}

.media-left,
.media > .pull-left {
  padding-right: 10px;
}

@media (min-width: $screen-xs-min) {
  .media-right,
  .media > .pull-right {
    padding-left: 30px;
  }

  .media-left,
  .media > .pull-left {
    padding-right: 30px;
  }
}

@media (max-width: $screen-sm-min - 1) {
  .media-sm-custom {
    .media-right,
    .media > .pull-right {
      padding-left: 0;
    }

    .media-left,
    .media > .pull-left {
      padding-right: 0;
    }

    .media-left, .media-right, .media-body {
      display: block;
      width: 100%;
    }
  }
}