//
// Custom Tooltips
// --------------------------------------------------

.tooltip-custom {
  &:hover {
    cursor: pointer;
  }
}

.tooltip {
  z-index: 1;

  .tooltip-inner {
    font-size: 14px;
    padding: 4px 15px;
    border-radius: 30px;
    background: $brand-primary;
  }

  &.in {
    opacity: 1;
  }

  &.top {
    margin-top: -1px;

    .tooltip-arrow {
      border-top-color: $brand-primary;
    }
  }

  &.bottom {

    .tooltip-arrow {
      border-bottom-color: $brand-primary;
    }
  }
}