-
	var
		brandName = 'Grand',
		logoDefault = 'logo-default-145x47',
		logoInverse = 'logo-inverse-145x47',
		postLink = 'blog-page.html',
		getTemplateLink = '#',
		tryBuilderLink = '#',
		viewDemosAnchor = 'section-start-demo',
		layoutPanel = false,
		menu = []
