-
	var
		brandName = 'Exellent',
		logoDefault = 'logo-default-152x41',
		logoInverse = 'logo-inverse-152x41',
		postLink = 'blog-page.html',
		getTemplateLink = '#',
		tryBuilderLink = '#',
		viewDemosAnchor = 'section-start-demo',
		layoutPanel = false,
		menu = []
