include ../elements/_widget-rd-calendar
  
//See It In Action
section.section.novi-background.section-top-98.section-bottom-34.section-xl-top-110.section-xl-bottom-0.bg-overlay-white
  .container.container-wide
    h1 Calendar
    div: hr.divider.divider-lg.bg-mantis

    .offset-top-50
      .rd-calendar-fullwidth
        +widget-rd-calendar([
          {
            date: '08/06/2018',
            time: '10:00 am',
            title: 'International Conference',
            link: '#',
            bg: 'bg-chestnut-roze context-dark'
          },
          {
            date: '08/17/2018',
            time: '10:00 am',
            title: 'International Conference Day 2',
            link: '#',
            bg: 'bg-chestnut-roze context-dark'
          },
          {
            date: '08/19/2018',
            time: '9:00 AM',
            title: 'Opening of the exhibition',
            link: '#',
            bg: 'bg-mantis context-dark'
          },
          {
            date: '08/28/2018',
            time: '6:00 pm',
            title: 'Exhibition closing',
            link: '#',
            bg: 'bg-mantis context-dark'
          },
          {
            date: '08/29/2018',
            time: '9:00 AM',
            title: 'Family breakfast',
            link: '#',
            bg: 'bg-mantis context-dark'
          },

          {
            date: '09/05/2018',
            time: '10:00 am',
            title: 'International Conference',
            link: '#',
            bg: 'bg-chestnut-roze context-dark'
          },
          {
            date: '09/16/2018',
            time: '10:00 am',
            title: 'International Conference',
            link: '#',
            bg: 'bg-mantis context-dark'
          },
          {
            date: '09/17/2018',
            time: '10:00 am',
            title: 'International Conference Day 2',
            link: '#',
            bg: 'bg-chestnut-roze context-dark'
          },
          {
            date: '09/19/2018',
            time: '9:00 AM',
            title: 'Opening of the exhibition',
            link: '#',
            bg: 'bg-mantis context-dark'
          },
          {
            date: '09/28/2018',
            time: '6:00 pm',
            title: 'Exhibition closing',
            link: '#',
            bg: 'bg-chestnut-roze context-dark'
          },
          {
            date: '09/23/2018',
            time: '9:00 AM',
            title: 'Family breakfast',
            link: '#',
            bg: 'bg-mantis context-dark'
          }
        ])
