extends  ../_skeleton

//- Includes
include ../elements/_ui-pagination-bootstrap
include ../elements/_widget-form-search
include ../elements/_ui-material-parallax

//- Title
block title
  title= "Search result"

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-top-panel(
    'rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logo,
    "",
    cfg.nav
    )
    // Section Search result
    section.context-dark
      +material-parallax({ img: 'images/bg-header-1920x362.jpg' })
        .container.section-top-34.section-md-top-98.section-bottom-34
          div
            h1.font-weight-bold Search result
          ul.list-inline.list-inline-dashed.p.text-light.breadcrumb-modern.offset-top-10.offset-md-top-66
            li.list-inline-item.active
              a(href="./") Home
            li.list-inline-item  Search result
      // Page Content
  main.page-content.section-98.section-md-124
    .container

      +widget-form-search("input-sm", "form-label-sm", "search-results")

      .rd-search-results.offset-top-66



        // Page Footers
  include ../sections/_section-footer-default
