//- title - counter title
//- icon - icon class
//- counter - {counter} Object

mixin counter-type-2(title, icon, counter, dividerStyle)
  // Counter type 2
  .counter-type-2
    span.icon(class= icon)
    if counter.preffix != null
      div.offset-top-10
        span.h1.font-weight-bold.counter(data-speed= counter.dataSpeed data-from="0" data-to= counter.dataTo)
        span.h1.font-weight-bold= counter.preffix
    else
      div.offset-top-10
        .h1.font-weight-bold.counter(data-speed= counter.dataSpeed data-from="0" data-to= counter.dataTo)
    div
      hr.divider.divider-vertical.offset-top-10(class= dividerStyle)
    h6.text-uppercase.font-weight-bold.text-spacing-60.offset-top-20= title
